@page
@model DataModel
@{
    ViewData["Title"] = "Data";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <tbody>
            @foreach (var item in Model.sessionStates)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
