@page
@model InputModel
@{
    ViewData["Title"] = "Input";
}

<div class="text-center">
    <form method="post">
        <input name="key" type="text" id="key" placeholder="key"/>
        <input name="value" type="text" id="value" placeholder="value"/>
        <button type="submit">submit</button>
    </form>
</div>
